*{
    padding:0px;
    margin:0px;
}
header,section,footer,aside,,nav,article,,hgroup{
    display: block;
}
.agrupar{
    border: 1px solid black;
    width: 960px;
    margin: 15px auto;
}
.menu{
    background:black;
    list-style: none;
    padding: 5px 15px;
}
.menu li{
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
}
.header{
    background: red;
    border: 1px solid black;
    padding: 20px;
}
body{
    text-align: center;
}
h1{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

