*{
    padding:0px;
    margin:0px;
}
header,section,footer,aside,,nav,article,,hgroup{
    display: block;
}
.agrupar{
    border: 1px solid black;
    right: 900px;
    margin: 15px auto;
}
.menu{
    list-style: none;
    display: inline-block;
}
.header{
    background: red;
    border: 1px solid black;
    padding: 20px;
}
body{
    text-align: center;
}