*{
    padding:0px;
    margin:0px;
}
header,section,footer,aside,,nav,article,,hgroup{
    display: block;
}
.agrupar{
    border: 2px solid white;
    width: 960px;
    margin: 0px auto;
}
.menu{
    background:white;
    list-style: none;
    padding: 5px 15px;
}
.menu li{
    list-style: none;
    padding: 5px;
    font: bold 14px "Mystery Quest";
    display: inline-block;
    text-align:left;
}
.header{
    background-image:url(https://i.ibb.co/MVHhWPh/img1.png);
    background-color: orange;
    border: 1px solid white;
    padding: 20px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
.header h1{
    text-align: left;
}
body{
    text-align: center;
}
h1{
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: underline;
}
h2{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
article{
    background-color: #FFCD78;
    border: 2px solid white;
    padding: 20px;
    margin-bottom: 15px;
}
article footer{
    text-align: right;
    margin-top: 20px;
    
}
.seccion{
    margin: 20px;
    width: 600px;
    border: 2px solid white;
    float: left;
}
.columna
{
    width: 300px;
    border: 2px solid white;
    float: left;
    margin:20px 0px;
    color: white;
    font-weight: bold;
    
}
.columna blockquote{
    border:1px solid white ;
    padding: 40px;
    background-color: #FFCD78;
    margin-bottom: 2opx;
}
.columna p {
    margin:10px  ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.columna input{
    padding: 1px;
    display:inline block;
}
.columna h1{
    text-align:center;
    padding-bottom: 20px;
}
img{
    width: 400px;
    display: block;
    margin:auto ;
}
.pie{
    clear:both;
    color: white;
    padding: 20px;
    background: ;
}

time{
    color:#999;
}
@font-face {
    font-family: "Mystery Quest";
    src: url("mystery-quest.woff2");
  }
.cambiador{
    text-align: left;
    display: block;
    padding-bottom: 14px;
}
.rango_administrator{
    color: red;
    font-weight: bold;
    display: inline-block;
}

