<div class="card">
    <div class="card-body">
        <h1> Sobre Nosotros</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, natus laudantium! Pariatur nostrum iusto voluptatum quibusdam minus iste alias? Iure explicabo maxime beatae. Adipisci quis labore dicta id? Vel, porro?</p>
    </div>
</div>