<div class="jumbotron mt-4">
    <h1 class="display-4">Union Galactica!</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt rerum perferendis esse voluptate cum, dolorum magni eum cumque. Atque rem commodi voluptatem ullam eaque? Voluptate ullam ex voluptatibus dicta? Quidem!</p>
    <hr class="my-4"> 
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam voluptatem quos aliquam autem magni accusantium distinctio, doloribus sequi officia inventore architecto perferendis obcaecati aliquid. Ipsum molestiae blanditiis quos asperiores sed.</p>
    <a href="http://uniongalactica.com/index.html" class="btn btn-primary btn btn-lg">Union Galactica</a>
</div>