body{ 
        background-image: url("/img/unete.png");
        background-color: #fdba00;
        height: 690px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
}
.logo{
    width: 40%;
}